site_name: CFLMY
theme:
    name: material
    custom_dir: custom
    logo: "https://s3.cflmy.cn/logo/Logo-write.png"
    favicon: "https://s3.cflmy.cn/logo/Logo.png"
    language: "zh"
    features:
        - navigation.instant
        - navigation.tabs
markdown_extensions:
    - meta
    - attr_list
    - md_in_html
plugins:
    - search 
    - plantuml:
        puml_url: https://www.plantuml.com/plantuml/

